@import url('https://fonts.googleapis.com/css2?family=Comic+Neue:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');

:root {
    --btn-bg: hsl(47, 53%, 81%);
    --texto-btn: rgb(52, 79, 103);
    --texto-dark: white;
    --texto-normal: black;
    --background-light: rgba(26, 117, 159, 1);
    --background-dark: rgba(75, 29, 68, 1);
    --stand-out: rgba(rgb(56, 172, 160));
    --stand-out-dark:rgba(rgb(98, 4, 21)) ;
}

.dark-mode {
    background-color: var(--background-dark);
    color: white;

    .hovering-bg:hover {
        background-color: var(--stand-out-dark);
        transition: background-color 0.5s ease;
    }

    #horizontal-header-wdark-mode ul {
        background-color: rgba(35, 12, 41, 1);
    }

    h1 {
        background-color: rgba(147, 79, 94, 1);
    }

    #botao-tema {
        background-color: rgba(147, 79, 94, 1);
    }

    .caixa {
        background-color: var(--background-dark);
        color: var(--texto-dark);
    }

    #send {
        background-color: var(--background-dark);
        color: var(--texto-dark);
    }

}

body {
    background-color: var(--background-light);
    color: black;
    font-size: 25px;
    font-family: "Comic Neue", cursive;
    transition: 77ms;
}

.hovering-bg {
    border-radius: 50px;
    padding: 2%;
}

.hovering-bg:hover {
    background-color: var(--stand-out);
    transition: background-color 0.5s ease;
}


h1 {
    text-align: center;
    background-color: rgba(178, 201, 171, 1);
    border-radius: 50px 50px 50px 50px;
    width: 33%;
    margin-left: 33%;
}

/*Body->header---------*/
#horizontal-header-wdark-mode ul {
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: rgba(118, 200, 147, 1);
    border-radius: 0px 50px 50px 0px;
}

#horizontal-header-wdark-mode li {
    list-style: none;
    margin-left: 5%;
}

#btn-dark {
    color: var(--texto-btn);
    background-color: var(--btn-bg);
    border-style: none;
    padding: 1.5vh;
    width: auto;
    font-size: large;
    border-radius: 0px 50px 50px 0px;
    font-family: "Comic Neue", cursive;
    font-weight: bold;
}

#botao-tema {
    padding: 4vh;
    align-items: center;
    border-radius: 100%;
    background-color: rgba(35, 12, 40, 1);
}

/*Body->About Me---------*/

#AboutMe {
    padding: 5%;
    display: flex;
    flex-direction: row;
}

#AboutMe>div h2 {
    background-color: rgba(188, 138, 95, 1);
    font-size: 100px;
    width: 70%;
    border-radius: 0px 150px 0px 0px;
    padding-right: 1vh;

}

#AboutMe>div p {
    width: 80%;
    background-color: rgba(188, 138, 95, 1);
    padding: 5%;
    border-radius: 0px 150px 150px 0px;
}


/*Body->Minhas Skills--------------------*/

#skill-list {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

/*Body->My Projects----------------------*/

#Projects>ul li {
    display: flex;
    justify-content: center;
}

/*Body->My Experiences----------------------*/

#Experiencias>ul li {
    list-style: none;
    display: flex;
    flex-direction: row;
    width: 85%;
    align-items: center;
    margin: 5% 0% 0% 5%;
}

/*Body->My Socials----------------------*/

#Socials>div ul {
    display: flex;
    flex-direction: row;
    justify-content: center;

}

#Socials li {
    list-style: none;
}

/*Body->Contact----------------------*/

.Contact {
    display: flex;
    flex-direction: column;
}

.caixa {
    width: 22vw;
    height: 3vw;
    background-color: var(--background-light);
    border: 3px solid var(--texto-btn);
}

input::placeholder {
    font-weight: bold;
    opacity: 1;
    color: rgb(134, 255, 180);
}


#btn-send {
    width: 100%;
    height: 100%;
    position: relative;
    transform-style: preserve-3d;
    -webkit-transform-style: preserve-3d;
    transition: 0.25s;
    -webkit-transition: 0.25s;
}

#send {
    width: 100%;
    height: 100%;
    position: absolute;
    padding: 0;
    background: transparent;
    border: none;
    cursor: pointer;
    transform-style: preserve-3d;
    -webkit-transform-style: preserve-3d;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 17pt;
    text-transform: uppercase;
}

#send span {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    border: 5px solid rgb(0, 255, 98);
    background-color: rgba(134, 255, 180, 0.521);
    line-height: 50px;
    text-align: center;
    white-space: nowrap;
}

figure {
    width: 200px;
    height: 60px;
    cursor: pointer;
    perspective: 500px;
    -webkit-perspective: 500px;
}

figure div {
    height: 100%;
    transform-style: preserve-3d;
    -webkit-transform-style: preserve-3d;
    transition: 0.25s;
    -webkit-transition: 0.25s;
}

figure:hover #btn-send {
    transform: rotateX(-90deg);
}

#send span:nth-child(1) {
    color: var(--texto-normal);
    transform: translate3d(0, 0, 30px);
    -webkit-transform: translate3d(0, 0, 30px);
}

#send span:nth-child(2) {
    color: var(--texto-btn);
    background: var(--background-light);
    transform: rotateX(90deg) translate3d(0, 0, 30px);
    -webkit-transform: rotateX(90deg) translate3d(0, 0, 30px);
}


form>input {
    display: flex;
    flex-direction: column;
}